.hero{
    background-image: url("https://media.tenor.com/vB85OJs5YiwAAAAC/mercedes.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #f0f8ff;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.made-by {
    font-size: 14px;
    color: #000000;
    margin-top: 20px; /* Add margin for spacing */
  }
.temp{
    margin-bottom: 20px;
}
  